{% extends "base.html" %}
{% block title %} МегаПарсер НН {% endblock %}
{% block header %} МегаПарсер HH {% endblock %}

<body>
        <!-- Page Content-->
        {% block content %}
        <section>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">
                        <h1 class="mt-5">Мегапарсер hh</h1>
                        <h2 class="mx-auto mt-2 mb-5">Поиск вакансий на сайте hh.ru, анализ требований, уровень зарплат</h2>
                        <div class="intro-button mx-auto">
                            <a class="btn btn-primary btn-xl" href="/form">Приступить!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
    </body>
